<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .mycard {
            margin: 20px auto 0px auto;
            width: 95%;
            max-width: 1200px;
        }
    </style>
</head>
<body>
    <!-- cardnya  -->
    <div class="mycard">
        <div class="col-9">
            <H1 style="font-size:50px">
                Layanan Kami
            </H1>
        </div>
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="../static/wiralogo.png" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">LAUNDRY CARE</h5>
                        <p style="font-family: Arial, Helvetica, sans-serif; font-size: 15px;" class="card-text">
                            Menerima cuci Pakaian Anda Di cuci per nota per mesin Tidak Di Campur Cuci Sendiri. Express
                            2 Jam dan 6 Jam. Laundry Express 24 Jam. Laundry Kiloan Murah.</p>

                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <img src="../static/01gambar.png" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">FREE DELIVERY</h5>
                        <p style="font-family: Arial, Helvetica, sans-serif; font-size: 15px;" class="card-text">
                            Fasilitas GRATIS ANTAR JEMPUT laundry Kamu Di Tempat MIn 3 Kg, apabila laundry tidak cukup
                            3KG, maka akan tetap di timbang jika konsumen tidak ingin menambahkan laundry tersebut </p>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="../static/icon03.png" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Everthing Care</h5>
                        <p style="font-family: Arial, Helvetica, sans-serif; font-size: 15px;" class="card-text">
                            Melayani Semua Jenis Cucian Seperti Bed Cover , Seprei , Selimut , Baju Satuan , Karpet ,
                            Jas , Dll Juga Kami Menerima Karpet</p>

                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <img src="../static/icon02.png" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">LAundry care</h5>
                        <p style="font-family: Arial, Helvetica, sans-serif; font-size: 15px;" class="card-text">
                            Menerima cuci dalaman Pakaian Anda Di cuci per nota per mesin Tidak Di Campur Cuci Sendiri.
                            Express 2 Jam dan 6 Jam. Laundry Express 24 Jam. Laundry Kiloan Murah.</p>

                    </div>
                </div>
            </div>


        </div>
    </div>
    <br>
    <!-- endcard -->
</body>
</html>